@using _1_AppData._1_DataProcessing.Context;
@model _1_AppData._1_DataProcessing.Models.Coupons

@{
    ViewData["Title"] = "Edit";
}
@{
    DBContext_Assgiment db = new DBContext_Assgiment();
}
<h1>Edit</h1>

<h4>Coupons</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Food:</label>
                    <select class="form-control" asp-for="FoodID">
                    @{
                    var fo = db.Foods.ToList();
                        @foreach(var item in fo)
                        {
                            <option value="@item.ID" >@item.FoodName</option>
                        }
                    } 
                    </select>
            </div>
            <div class="form-group">
                <label>Combo:</label>
                    <select class="form-control" asp-for="ComboID">
                    @{
                    var cb = db.Combos.ToList();
                        @foreach(var item in cb)
                        {
                            <option value="@item.ID">@item.ComboName</option>
                        }
                    } 
                    </select>
            </div>
            <div class="form-group">
                <label asp-for="Coupon_Code" class="control-label"></label>
                <input asp-for="Coupon_Code" class="form-control" />
                <span asp-validation-for="Coupon_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount_Type" class="control-label"></label>
                <input asp-for="Discount_Type" class="form-control" />
                <span asp-validation-for="Discount_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount_Amount" class="control-label"></label>
                <input asp-for="Discount_Amount" class="form-control" />
                <span asp-validation-for="Discount_Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minimum_Spend" class="control-label"></label>
                <input asp-for="Minimum_Spend" class="form-control" />
                <span asp-validation-for="Minimum_Spend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maximum_Discount_Amount" class="control-label"></label>
                <input asp-for="Maximum_Discount_Amount" class="form-control" />
                <span asp-validation-for="Maximum_Discount_Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expiration_Date" class="control-label"></label>
                <input asp-for="Expiration_Date" class="form-control" />
                <span asp-validation-for="Expiration_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Create_At" class="control-label"></label>
                <input asp-for="Create_At" class="form-control" />
                <span asp-validation-for="Create_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Update_At" class="control-label"></label>
                <input asp-for="Update_At" class="form-control" />
                <span asp-validation-for="Update_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
