@*@model IEnumerable<_1_AppData._1_DataProcessing.Models.Bill>*@
@model IEnumerable<_2_AppApi.ViewModels.Bill.BillShow>

@using _1_AppData._1_DataProcessing.Models;

@{
    //var users = ViewData["ListUser"] as List<User>;
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tên người đặt</th>
            <th>Ngày đặt hàng</th>
            <th>Tổng giá</th>
            <th>Trạng thái</th>
            <th>Trạng thái thanh toán</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.UserName</td>
            <td>@item.OrderDate</td>
            <td>@item.TotalPrice</td>
            @if(item.Delivery_Status==1)
            {
                <td>Chờ xác nhận</td>
            }
            else if (item.Delivery_Status == 2)
            {
                <td>Chờ lấy hàng</td>
            }
            else if (item.Delivery_Status == 3)
            {
                <td>Đang giao</td>
            }
            else if (item.Delivery_Status == 4)
            {
                <td>Đã giao</td>
            }
            else 
            {
                <td>Đã hủy</td>
            }
            @if (item.Payment_Status == 0)
            {
                    <td>Chưa thanh toán</td>
            }
            else
            {
                    <td>Đã thanh toán</td>
            }
            <td>
                <a href="#">
                @if(item.Delivery_Status==1)
                {
                    <span>Xác nhận</span>
                }
                else if (item.Delivery_Status == 2)
                {
                    <span>Giao hàng</span>
                }
                else if (item.Delivery_Status == 3)
                {
                    <span>Đã giao</span>
                }
                <a href="#">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
